html {
	background-color: #fff;
}

.panel {
	margin: 25px;
}

.section {
	background-color: transparent;
}

#remoteVideos video {
    width: 100%;
}
#localVideo {
    width: 100%;
}

textarea {
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	border: none;
	padding: 10px;
}

.waiting-title {
    position: relative;
    top: -350px;
}

#room-name {
	margin: 10px;
}

.column {
	padding: 0;
}

.feature {
	color: #fff;
    text-align: center;
    font-size: 17px;
    line-height: 1.25;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1900px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1280px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width :840px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

