#remoteVideos video {
    width: 100%;
}
#localVideo {
    width: 100%;
}

textarea {
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	border: none;
	padding: 10px;
}

.waiting-title {
	position: absolute;
    top: 50%;
    left: 35%;
}

#room-name {
	margin: 10px;
}